
<div class='parallax-container'>
    <div class='container'>
        <h2 class='parallax-header'>Mission Statement</h2>
        <h5 class='parallax-text'>"We aim to help small entrepreneurs setup an online store front to reach more customers."</h5>
        <button class='btn waves-effect waves-light green'><i class="material-icons left">assignment</i>Get Started</button>
    </div>
    <div class='parallax'>
        <img src='/assets/images/tmg-facebook_social.jpg'>
    </div>
</div>

<div class='container about-text'>
    <hr>
    <div class='row' id='about-text'>
        <div class='col s12 m1'></div>
        <p class='col s12 m10 info-text'>
            As we continue to make advancements technologically, we find ourselves becoming more reliant on the 
            internet. We trend towards using services that will make things more convenient for us. For example, 
            discovering locations nearby or at a particular location. Without a brick and mortar location, young 
            entrepreneurs wont be able to estrablish themselves as a destination on existing services. It is our 
            goal to facilitate such a service to help them grow their business reaching new customres on the 
            online front. We want to help provide an environment where our clients can have an online store front 
            and inform potential customers when and where they will be at a particular location.
        </p>
        <div class='col s12 m1'></div>
    </div>
    <hr>
</div>

<div class='parallax-container'>
    <div class='container'>
        <h2 class='parallax-header' id='parallax-about'>About Us</h2>
    </div>
    <div class='parallax'>
        <img id='aboutImgOne' src='/assets/images/18234287332_bbd421f90f_o-e1480632514556.jpg'>
    </div>
</div>

<div class='container about-text'>
    <hr>
    <div class='row' id='about-text'>
        <div class='col s12 m1'></div>
        <p class='col s12 m10 info-text'>
            Our team is comprised of four students, (<a href='https://github.com/yeungpirate' target='_blank'>David Yeung</a>, 
            <a href='https://github.com/Saglietto-Marco' target='_blank'>Marco Saglietto</a>, <a href='https://github.com/nmclear' target='_blank'>Nick Clear </a>, 
            <a href='https://github.com/nrvpatel03' target='_blank'>Nirav Patel</a>), currently enrolled in UCI's Coding Boot 
            Camp for Full Stack Developers. You can find all the work that we've done <a href='https://github.com/Three-Toed-Sloths' target='_blank'>here</a>.
        </p>
        <div class='col s12 m1'></div>
    </div>
    <hr>
</div>