<div class="container">

    <div class="row">

        <div class="card large">
            <div class="container">
                <div id="map">

                </div>
            </div>
        </div>

    </div>

    <div class="row">

    </div>

</div>