<div class='content'>

    <div class='parallax-container'>
        <div class='container parallax-landing'>
            <h1 class='landing-header'><i id='nav-logo' class="fas fa-cookie-bite"></i> Finder</h1>
            <h5 class='landing-text'>Find your nearest seller today!</h5>
        </div>
        <div class="row">
            <button id="showMap" class="waves-effect waves-light btn green"><i class='material-icons left'>map</i>Show Map</button>
        </div>
        <div class='parallax'>
            <img class='landing-img' src='/assets/images/clem-onojeghuo-206832-unsplash2.jpg'>
        </div>
    </div>

    <div class="container">
        <div id="map" class="card large animated fadeInUp"></div>
    </div>

</div>