<div class="container">

    <h1><i id='nav-logo' class="fas fa-cookie-bite"></i> Finder</h1>
    <p>Click on a seller to get started!</p>

    <div class="row">
        <div id="map" class="card large">
        </div>
    </div>
    
</div>



