<div class='parallax-container'>
    <div class='container landing-text'>
        <h1><i id='nav-logo' class="fas fa-cookie-bite"></i> Finder</h1>
        <h5>Find your nearest seller today!</h5>
    </div>
    <div class='parallax'>
        <img src='/assets/images/clem-onojeghuo-206832-unsplash2.jpg'>
    </div>
</div>

<div class="container">
    
    <h6>Click on a seller to get started!</h6>

    <div class="row">
        <a id="showMap" class="waves-effect waves-light btn">Show Map</a>
        <div id="map" class="card large">
        </div>
    </div>

</div>



