<div class='content'>

    <div class="container order-content">

        <div class="row center-align">
            <h2 class='order-header'>Thank you for your order!</h2>
            <h5 class='order-text'>Please check your email for your cookie order details.</h5>
        </div>

    </div>

</div>