<div class="container">

    <div class="row center-align">
        <h2>Thank you for your order!</h2>
        <h5>Please pick up your cookies within the posted hours.</h5>
        <div>
            <ul id="itemsOrdered"></ul>
            Items Ordered: {{sellerInfo}}
        </div>
    </div>

</div>