<div class='parallax-container'>
    <div class='container'>
        <div class='seller-info' sellers-id='{{id}}'>
            <h3>{{seller_name}}</h3>
            <h5>When: {{}}</h5> {{!--need a way to reference the location set by the seller--}}
            <h5>Where: {{}}</h5> {{!--need a way to reference the time set by the seller--}}
        </div>
    <div class='parallax banner'>
        <img src='../public/assets/images/cookie_heart_banner.jpg' style='position: relative; right: 50px;'>
    </div>
</div>

<div class="container" id='shop'>
    <div class="row">
        <div class='col s12 l8'>
            <div class='card' id='inventory-view'>
                <div class="card-content">
                    <div class="row">
                        {{#each inventory}}
                            {{> storeFront/itemCard}}
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>

        <div class='col s12 l4'>
            <div class="card">
                <div class="card-content" id='my-cart'>
                    <div>
                        <h5>My Cart:</h5>
                        <hr>
                    </div>
                    <ul>
                        {{#each}}
                            {{#if added}} {{!--need to add a 'added' boolean to items--}}
                                {{> storeFront/cart}}
                            {{/if}}
                        {{/each}}
                    </ul>
                    <div id='cart-bottom'>
                        <p id='subtotal'>Subtotal: $</p>
                        <p id='tax'>Tax: $</p>
                        <p id='total'>Total: $</p>
                        <br>
                        <a class="green waves-effect waves-light btn" id='checkout'><i class="material-icons left">local_grocery_store</i>Checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>