<div class='content'>

    <div class="container">

        <div class="row center-align">
            <h2>Thank you for signing up!</h2>
            <h5>Please check your email for incoming orders.</h5>
        </div>

    </div>

</div>