
                            
<option class="cookies-option" value="{{id}}" name="{{name}}"
    data-icon="https://s3.r29static.com//bin/entry/070/0,0,2000,2400/720x864/1774479/image.png">
        {{name}} - ${{price}} per box
</option>
