#submit-seller {
    width: 14%;
    margin-left: 43%;
    margin-bottom: 1.5em;
}

#signUpHead {
    text-align: center;
    font-size: 45px;
}

@media only screen and (max-width: 1024px) {
    #submit-seller {
        width: 20%;
        margin-left: 40%;
    }
}

@media only screen and (max-width: 415px) {
    #submit-seller {
        width: 80%;
        margin-left: 10%;
    }
}

@media only screen and (max-width: 360px) {
    #submit-seller {
        width: 80%;
        margin-left: 10%;
    }
}